*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  padding: 3rem;
  background: #edf6ff;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

.search {
  height: 8rem;
  border-radius: 10rem;
  // background: linear-gradient(45deg, rgba(#6b7b8f, 1), #3c4b66);
  // background-color: darkgray;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: -2px -2px 6px rgba(#fff, 0.6), 2px 2px 12px #c8d8e7;

  &__input-err {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2.5rem;
  }

  &__error {
    font-size: 3rem;
    align-items: center;
    color: red;
  }

  &__input,
  &__button {
    background-color: #e3edf7;
    border: none;
    border-radius: 3rem;
    // color: brown;
    font-size: 2rem;
    // border-radius: 10rem;
    // margin: 2.5rem;
    // margin: 2.5rem;
    // margin-bottom: 0;
    padding: 1.5rem;
    font-family: "Orbitron", sans-serif;
    font-weight: 600;
    color: #d84e59;
    outline: none;
    cursor: pointer;
  }

  &__input {
    width: 90%;
    box-shadow: -2px -2px 6px rgba(#fff, 0.6), 2px 2px 12px #c8d8e7;

    &:focus {
      background-color: #f1f3f5;
      width: 100%;
      border: none;
    }
  }

  &__button {
    margin-right: 2rem;
    box-shadow: -2px -2px 6px rgba(#fff, 0.6), 2px 2px 12px #c8d8e7;
  }
}

.content {
  margin: 2rem 0;
  padding: 3rem;
  background-color: #faf9f9;
  height: 100vh;
  border-radius: 5px;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);

  display: grid;
  grid-template-columns: 30% 70%;

  &__left {
    display: flex;
    flex-direction: column;

    & > * {
      margin-bottom: 2rem;
    }

    &-image-1 {
      height: 15rem;
      border-radius: 50%;
    }

    &-name {
      &-1 {
        //    text-decoration: none;
        //    cursor: pointer;
        //    color: inherit;
        font-size: 3rem;
        font-weight: 500;
      }

      &-2 {
        color: grey;
        font-size: 2rem;
        font-weight: 400;
      }
    }

    &-bio {
      align-self: center;
      font-size: 2rem;
      font-weight: 300;
      color: inherit;
    }
  }

  &__right {
    padding: 2rem;
    font-size: 2rem;
    display: flex;
    flex-direction: column;

    &-item {
        padding: 1rem;
        margin: 1rem;
        border-radius: 1rem;
        border: 1px solid grey;
        
        &-name {
            color: rgb(83, 83, 168);
        }
    }
  }
}
